
<h2>Course List</h2>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Filter by:</label>
  <div class="col-sm-10">
    <input [(ngModel)]="filter" class="form-control">
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Code</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of filteredCourses">
      <td><img [src]="element.imageUrl" width="40" height="40"></td>
      <td>{{element.name}}</td>
      <td>{{ element.price }}</td>
      <td>{{ element.code | lowercase | replace: '-':' '}}</td>
      <td>{{ element.releaseDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <app-star [rating]="element.rating"></app-star>
      </td>
      <td>
        <a [routerLink]="['/courses/info', element.id]" class="btn btn-primary">Edit</a>&nbsp;
        <button (click)="deleteById(element.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
